@import"https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap";
@import"https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap";
@import"https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,14..32,100..900;1,14..32,100..900&display=swap";

.grid.svelte-e2wrhj {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 100%
}

.single-post.svelte-e2wrhj {
    max-width: 400px;
    align-items: start
}

.thumb.svelte-e2wrhj {
    text-decoration: none;
    color: inherit
}

.post.svelte-e2wrhj {
    overflow: hidden;
    transition: transform .2s ease
}

.post-image.svelte-e2wrhj {
    width: 100%;
    height: 200px;
    overflow: hidden
}

.thumbnail.svelte-e2wrhj {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: filter .3s ease
}

.post.svelte-e2wrhj:hover .thumbnail:where(.svelte-e2wrhj) {
    filter: grayscale(0%)
}

.post-date.svelte-e2wrhj {
    font-family: Roboto;
    font-size: .7rem;
    font-weight: 500;
    color: gray;
    margin-bottom: .5rem
}

.client-name.svelte-e2wrhj {
    color: #0084db
}

.post-title.svelte-e2wrhj {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: .5rem
}

.post-summary.svelte-e2wrhj {
    font-family: Vollkorn;
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    color: gray;
    margin-bottom: 1rem
}

.to-top-button.svelte-1wush3t {
    font-family: Inter;
    font-style: normal;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    color: #bbb;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color .3s ease
}

.completeright.svelte-1j09ygo {
    margin-left: .5rem;
    margin-right: .5rem
}

@media screen and (min-width: 700px) {
    .completeright.svelte-1j09ygo {
        margin-left: 25%;
        margin-right: 25%
    }
}

.intro.svelte-1j09ygo {
    margin-top: 117px;
    margin-bottom: 4rem;
    max-width: 800px
}

h2.svelte-1j09ygo {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 500;
    margin: 0;
    font-family: Vollkorn
}

@media screen and (max-width: 700px) {
    h2.svelte-1j09ygo {
        font-size: 2rem;
        line-height: 2.75rem
    }
}

.container.svelte-1j09ygo {
    max-width: 1200px;
    margin: 0 auto;
    font-family: Roboto
}

.article-text.svelte-1j09ygo {
    margin-top: .8em;
    font-family: Vollkorn;
    font-size: 1.15rem;
    line-height: 1.82rem;
    display: inline
}

.sidebar-text.svelte-1j09ygo {
    font-size: .7rem;
    font-weight: 500;
    color: gray;
    letter-spacing: 2px;
    line-height: 1.2rem;
    text-decoration: none;
    font-family: Roboto
}

.sidebar-text.svelte-1j09ygo a:where(.svelte-1j09ygo) {
    color: gray;
    text-decoration: none
}

.sidebar-text.svelte-1j09ygo a:where(.svelte-1j09ygo):hover {
    color: #0084db;
    text-decoration: none
}

.category-header.svelte-1j09ygo {
    margin-bottom: 4rem;
    margin-top: 3rem
}

.category-header.svelte-1j09ygo h2:where(.svelte-1j09ygo) {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 500;
    margin: 0
}

.blogcontainer.svelte-1j09ygo {
    margin-bottom: 50px;
    margin-top: 50px
}

hr.svelte-1j09ygo {
    border: 0;
    height: 2px;
    width: 80px;
    margin-left: 0;
    background: #000
}

.svelte-1j09ygo::selection {
    background: #0084db;
    color: #fff
}